<div class="row">
  <div class="col-12">
    {{#if hasContacts}}
      <h2 class="font-weight-normal">No contact found</h2>
    {{else}}
      <h2 class="font-weight-normal">Your Contacts:</h2>
      <div class=" table-responsive">
        <table class="table table-bordered table-hover table-sm">
          <thead class="thead-light">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Mobile Number</th>
              <th>Emp Id</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each contacts}}
            <tr>
              <td>{{fName}}</td>
              <td>{{lName}}</td>
              <td>
                <div class="{{id}}-display-mobile">
                  <input id="{{id}}Mobile" value="{{mobile}}" readonly disabled />
                  <span class="float-right edit-mobile" data-id="{{id}}" id="{{id}}EditMobile"><i class="fas fa-pencil-alt"></i></span>
                </div>
                <div class="{{id}}-edit-mobile d-none">
                  <input type="number" class="mobile-input" data-id="{{id}}" id="{{id}}MobileInput" name="mobile" value="{{mobile}}" placeholder="Enter Mobile Number" />
                  <span class="float-right save-mobile" data-id="{{id}}" id="{{id}}EditMobile"><i class="fas fa-check"></i></span>
                </div>
              </td>
              <td>{{empId}}</td>
              <td>
                <a class="btn btn-primary btn-sm" href="/contact/edit/{{id}}">
                  <i class="fas fa-user-edit"></i> Edit
                </a>
                <button class="btn btn-danger btn-sm deleteContact" data-id="{{id}}">
                  <i class="fas fa-user-times"></i> Delete
                </button>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    {{/if}}
  </div>
</div>